@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800;900&family=Manrope:wght@500;700&family=Outfit:wght@400;700&family=Work+Sans:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
body{
    background-color: hsl(210, 46%, 95%);
    font-size: 13px;
    font-family: 'Manrope',sans-serif;
}
.container{
    display: flex;
    width: 56rem;
    height: 18rem;
    background-color: white;
    top: 50%;
    left: 50%;
    transform:translate(35%,60%);
    border-radius: 8px;
    
}

.drawers{
    width: 25rem;
    height: 18rem;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.avatar{
    width: 3rem;
    height: 3rem;
    border-radius:5rem;
}

h1{
    margin:2rem 2rem 1rem 2rem;

}

p{
    margin:0 2rem 1rem 2rem;
    font-size: 0.9rem;
}

.part3{
    display: flex;
    margin-left: 2rem;
    gap: 0.5rem;

}

span{
    margin-top: 0.5rem;
}

.share{
    margin-top: 1rem;
    margin-left: 15rem;
    background-color: hsl(210, 46%, 95%);
    padding: 0.5rem 0.5rem;
    border-radius: 5rem;
}















.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }